footer {
  text-align: center;
  font-size: 1.2rem;
}

menu {
  text-align: center;
  font-family: 'Roboto';
  font-size: 1.2rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#s1 {
  background-color: azure;
}

#s2 {
  background-color: rgb(240, 250, 255);
}

#contact_form div {
  margin: 10px;
}